# Matches everything regarding the overall repo setup, but not the individual packages.
*                               @simpleclub/backend-red

# Matches each package individually.
firebase-rules-coverage/        @simpleclub/backend-red
firebase-rules-generator/       @simpleclub/backend-red
